
:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --very-dark-cyan: hsl(158, 35%, 18%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --fraunces-font: 'Fraunces', serif;
    --monserrat-font: 'Montserrat', sans-serif;
    --sm: 12px;
    --md: 14px;
    --lg: 32px;
}

body {
    font-family: var(--monserrat-font);
    margin: 0;
    background-color: var(--cream);
}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.card {
    width: 600px;
    display: flex;
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
}

.card__img--desktop {
    display: inline-block;
    object-fit: cover;
    width: 300px;
}

.card__img--mobile {
    display: none;
    object-fit: cover;
}

.card__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px;
}

.card__subtitle, .card__text {
    margin: 0;
    font-size: var(--md);
    color: var(--dark-grayish-blue);
    line-height: 24px;
}

.card__title {
    font-family: var(--fraunces-font);
    font-weight: bold;
    line-height: 32px;
    margin: 0;
}

.card__price-container {
    display: flex;
    align-items: center;
}

.card__price {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--fraunces-font);
    font-size: var(--lg);
    color: var(--dark-cyan);
}

.card__price--discounted {
    font-family: var(--monserrat-font);
    font-size: var(--md);
    color: var(--dark-grayish-blue);
    margin-left: 20px;
    text-decoration: line-through;
}

.card__button {
    border: none;
    background-color: var(--dark-cyan);
    padding: 16px 0 16px 0;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    transition: .3s all;
}

.card__button-text {
    font-family: var(--monserrat-font);
    font-weight: bold;
    color: var(--white);
    margin-left: 8px;
}

.card__button:hover {
    background-color: var(--very-dark-cyan);
    cursor: pointer;
}

@media (max-width: 767px) {
    .card {
        width: 340px;
        height: 600px;
        flex-direction: column;
    }

    .card__information {
        padding: 20px;
        height: 100%;
    }

    .card__img--desktop {
        display: none;
    }
    
    .card__img--mobile {
        display: block;
        width: 340px;
    }
}
